<h2 class="ui dividing header">Merchant Details</h2>

<form method="post" class="ui form">
  <div class="field">
    <label>Merchant Name</label>
    <input type="text" id="name" name="name" placeholder="<%= @merchant.name %>">
  </div>
  <button type="submit" class="ui green basic button">Save</button>
  <a href="/merchants" class="ui grey basic button">Cancel</a>
</form>
