<h2>Merchants</h2>

<div class="ui segment">
  <form method="post" class="ui form">
    <div class="two fields">
      <div class="field">
        <label>Name</label>
        <input type="text" id="name" name="name">
      </div>
      <div class="field">
        <label>&nbsp;</label>
        <button type="submit" class="ui green basic button">Add Merchant</button>
      </div>
    </div>
  </form>
</div>

<table class="ui striped two column table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @merchants.each do |merchant| %>
      <tr>
        <td><%= merchant.name %></td>
        <td>
          <div class="ui vertical animated basic button" tabindex="-1" data-url="/merchants/<%= merchant.url_safe_name %>/edit">
            <div class="hidden content">Edit</div>
            <div class="visible content">
              <i class="align edit icon"></i>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
