<h2>Bills</h2>

<table class="ui striped table">
  <thead>
    <tr>
      <th>Next Payment Date</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Merchant</th>
      <th>Frequency</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td>To-Do</td>
        <td>To-Do</td>
        <td><%= bill.description %></td>
        <td>To-Do</td>
        <td><%= bill.bill_frequency.name %></td>
        <td>
          <div class="ui vertical animated basic button" tabindex="-1" data-url="/bills/<%= bill.id %>/mark-as-paid">
            <div class="hidden content">Paid</div>
            <div class="visible content">
              <i class="money bill alternate outline icon"></i>
            </div>
          </div>
          <div class="ui vertical animated basic button" tabindex="-1" data-url="/bills/<%= bill.id %>/edit">
            <div class="hidden content">Edit</div>
            <div class="visible content">
              <i class="align edit icon"></i>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
