<h2>Accounts</h2>

<div class="ui cards">
  <% @accounts.each do |account| %>
    <div class="ui link card" data-url="/accounts/<%= account.url_safe_name %>/transactions">
      <div class="content">
        <div class="header">
          <%= account.name %>
        </div>
        <div class="description">
          <p>Balance: $<%= to_currency(account.balance) %></p>
        </div>
      </div>
      <div class="ui bottom attached button">
        View
      </div>
    </div>
  <% end %>
</div>

<div class="ui segment">
  <a href="/accounts/new" class="ui green basic button">Add an Account</a>
</div>

<script src="/js/accounts/index.js"></script>
