<form class="ui form">
  <h4 class="ui dividing header">Add an Account</h4>
  <div class="field">
    <label>Account Name</label>
    <input type="text" id="name" name="name" placeholder="Account Name">
  </div>
  <div class="field">
    <label>Starting Balance</label>
    <input type="text" id="starting_balance" name="starting_balance" placeholder="0.00">
  </div>
  <div class="ui button" tabindex="0">Add Account</div>
</form>
