<h2 class="ui dividing header">Category Details</h2>

<form method="post" class="ui form">
  <div class="field">
    <label>Category Name</label>
    <input type="text" id="name" name="name" placeholder="<%= @category.name %>">
  </div>
  <button type="submit" class="ui green basic button">Save</button>
  <a href="/categories" class="ui grey basic button">Cancel</a>
</form>
